body{
    background-color: green;
}
*{
    text-align: center;
}
            
            ol {
    list-style-position: inside;
    
    padding-left: 0;
    margin: 0px;
}
    li{
        margin: 10px;
    }

    h1,h2,ol{
        color: white;
    }
    
